body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
button {
  margin-top: 10px;
  padding: 10px;
  width: 120px;
  background: #ff003c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}